<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Local Population</title>
    <link rel="stylesheet" href="angular-material/angular-material.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/app.min.css"/>
</head>
<body ng-app="main" ng-cloak>
    <div ng-controller="MainController as MainVM" layout="column" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="menu md-icon-button" hide-gt-sm ng-click="MainVM.toggleLeft()"
                           aria-label="Show Filters">
                    <md-icon md-svg-icon="menu"></md-icon>
                </md-button>
                <!--
                <h1>
                    Local Population
                </h1>
                -->
                <div>
                    Welcome {{MainVM.user.displayName}}
                </div>
                <md-button class="md-warning" style="float:right;border: 1px white;" ng-click="MainVM.logout()">
                    LOGOUT
                </md-button>
            </div>
        </md-toolbar>

        <div layout="row">
            <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left">
                <!--
                <md-content>
                    <md-button ng-click="MainVM.applyFilters()" class="md-accent">
                        Apply filters
                    </md-button>
                </md-content>
                -->
               <md-content>
                    <section>
                        <md-subheader class="md-primary">Professions</md-subheader>
                        <md-list>
                            <md-list-item ng-repeat="pro in MainVM.model.Filters.professions">
                                <p> {{ pro }} </p>
                                <md-switch class="md-secondary" ng-model="MainVM.filters.professions[pro]"></md-switch>
                            </md-list-item>
                        </md-list>
                    </section>
                    <section>
                        <md-subheader class="md-primary">Friends</md-subheader>
                        <md-list>
                            <md-list-item ng-repeat="fri in MainVM.model.Filters.friends">
                                <p> {{ fri }} </p>
                                <md-switch class="md-secondary" ng-model="MainVM.filters.friends[fri]"></md-switch>
                            </md-list-item>
                        </md-list>
                    </section>
               </md-content>
                <!--
                <md-list>
                    <md-subheader class="md-no-sticky">Professions:</md-subheader>
                    <md-list-item ng-repeat="pro in MainVM.model.Filters.professions">
                        <p> {{ pro }} </p>
                        <md-switch class="md-secondary" ng-model="MainVM.filters.professions[pro]"></md-switch>
                    </md-list-item>
                    <md-subheader class="md-no-sticky">Friends:</md-subheader>
                    <md-list-item ng-repeat="fri in MainVM.model.Filters.friends">
                        <p> {{ fri }} </p>
                        <md-switch class="md-secondary" ng-model="MainVM.filters.friends[fri]"></md-switch>
                    </md-list-item>
                </md-list>
                -->
            </md-sidenav>
            <md-content md-scroll-y layout="row" flex id="content" ui-view ></md-content>
        </div>
    </div>

<!-- Angular depencies -->
<script src="angular/angular.js"></script>
<script src="angular-animate/angular-animate.min.js"></script>
<script src="angular-aria/angular-aria.min.js"></script>
<script src="angular-material/angular-material.min.js"></script>
<script src="angular-ui-router/release/angular-ui-router.js"></script>

<!-- Built JS -->
<script src="app.js"></script>
</body>
</html>
