<div ng-controller="PopulationController as PopulationVM" flex>
    <md-card flex ng-repeat="p in PopulationVM.model.Population" flex flex-gt-xs="50">
        <md-list-item>
            <img ng-src="{{p.thumbnail}}" class="md-avatar" alt="{{p.name}}" />
            <div class="md-list-item-text md-padding" layout="column">
            <h3>{{ p.name }}</h3>
                <small>
                    <strong>Years: </strong>{{ p.age }}
                </small>
                <small>
                    <strong>Weight: </strong>{{ p.weight }}
                </small>
                <small>
                    <strong>Height: </strong>{{ p.height }}
                </small>
        </div>
        </md-list-item>
         <md-list-item>
             <div class="md-list-item-text md-padding" layout="column">
                 <div ng-if="p.professions.length > 0">
                    <strong>Professions:</strong>
                    <md-chips ng-model="p.professions" readonly="true">
                        <md-chip-template>
                            {{$chip}}
                        </md-chip-template>
                    </md-chips>
                </div>
                <div ng-if="p.friends.length > 0">
                    <strong>Friends:</strong>
                    <md-chips ng-model="p.friends" readonly="true">
                        <md-chip-template>
                            {{$chip}}
                        </md-chip-template>
                    </md-chips>
                </div>
             </div>
        <!--<md-divider inset></md-divider>-->
    </md-list-item>
    </md-card>
</div>
